@model IList<KS.ViewModels.Warehouse.MangeWarehouseProductItemViewModel>

@{
    ViewBag.Title = "Склад";
    Layout = "_Layout";
    int warehouseId = ViewBag.warehouseId;
}

<div class="col-12 col-lg-12">
    <div class="tab">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#tab-1" data-bs-toggle="tab" role="tab" aria-selected="true">Все товары</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab-2" data-bs-toggle="tab" role="tab" aria-selected="false">Товары склада</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-1" role="tabpanel">
                <form asp-controller="WarehouseProduct" asp-action="AddProducts" asp-route-warehouseId="@warehouseId">
                    
                    <h4 class="tab-title mt-5">Все товары</h4>
                    @if (!Model.Any())
                    {
                        <h5>Данных нет</h5>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width:65%;">Наименование товара</th>
                                <th style="width: 10%">Выберите, чтобы добавить</th>
                                <th style="width: 10%">Количество товаров</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input asp-for="@Model[i].Id" type="hidden" /> 
                                        <label asp-for="@Model[i].Id">@Model[i].Name</label>
                                    </td>
                                    <td>
                                        <a asp-controller="WarehouseProduct">
                                            кол-во
                                        </a>
                                    </td>
                                    <td>
                                        <td>
                                            @if (@Model[i].IsExistInWarehouse == true)
                                            {
                                                <input asp-for="@Model[i].IsExistInWarehouse" type="checkbox" value="true" disabled>
                                            }
                                            else
                                            {
                                                <input asp-for="@Model[i].IsExistInWarehouse" type="checkbox" value="true">
                                            }
                                        </td>
                                    </td>
                                </tr>
                            }
                            <tr>
                                    <td colspan="3"></td>
                                    <td>
                                        <button type="submit" class="btn btn-primary">Добавить выбранные товары</button>
                                    </td>
                            </tr>
                            </tbody>
                        </table>
                    }
                </form>
            </div>
            <div class="tab-pane" id="tab-2" role="tabpanel">
                <h4 class="tab-title mt-5">Товары которые есть на складе</h4>


            </div>
        </div>
    </div>
</div>