@using System.Linq
@model IEnumerable<KS.ViewModels.Warehouse.MangeWarehouseProductItemViewModel>
@* @model KS.ViewModels.Warehouse.WarehouseListingViewModel *@
@{
    ViewBag.Title = "Склада";
    Layout = "_Layout";
}


@if (TempData["SM"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-icon">
            <i class="far fa-fw fa-bell"></i>
        </div>
        <div class="alert-message">
            @TempData["SM"]
        </div>
    </div>
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Управление продукцией</h5>
        <h6 class="card-subtitle text-muted">
            Cклады
        </h6>
        <form asp-controller="WarehouseProduct" asp-action="">
            <div class="mb-3-row">
                
                <select asp-items="@(new SelectList(ViewBag.Warehouses, "Id", "Name"))">
                </select>
            </div>
            <button type="submit" value="submit" class="btn btn-primary">Выбрать </button>
        </form>
        <a class="btn btn-primary float-end mt-n1" asp-controller="" asp-action=""><i class="fas fa-plus"></i>Добавить все товары</a>
    </div>
    @if (!Model.Any())
    {
        <h5>Данных нет</h5>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th style="width:75%;">Название товара</th>
                <th>Наличие на складе</th>
                <th>Выберите, чтобы добавить</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var warehouse in Model)
            {
                <tr>
                    <td>@warehouse.Name</td>
                    <td>@warehouse.IsExistInWarehouse.ToString()</td>
                    <td class="table-action">
                        @Html.CheckBoxFor(x => warehouse.IsExistInWarehouse, new {@class = "form-check-input"})
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>