@model IList<KS.ViewModels.Warehouse.MangeWarehouseProductItemViewModel>

@{
    long warehouseId = ViewBag.warehouseId;
    ViewBag.Title = $"Склад {warehouseId.ToString()}";
    Layout = "_AdminLayout";
    int QuantityProduct = 0;
}

@if (TempData["SM"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-icon">
            <i class="far fa-fw fa-bell"></i>
        </div>
        <div class="alert-message">
            @TempData["SM"]
            <div class="ajaxdivtd">
            </div>
        </div>
    </div>
}


<div class="card">
    <div class="card-header">
        <h5 class="card-title">Склада</h5>
        <h6 class="card-subtitle text-muted">
            Управление количеством товаров на складе
        </h6>
    </div>
    @if (!Model.Any())
    {
        <h5>Данных нет</h5>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th style="width:75%;">Название</th>
                <th>Текущие количество</th>
                <th>(+/-) Скорректированное количество</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var warehouse in Model)
            {
                QuantityProduct += warehouse.Quantity?? 0;
                <tr>
                    <form asp-area="Admin" asp-controller="WarehouseProduct" asp-action="UpdateQuantityProduct">
                        <td>
                            <input name="warehouseId" type="hidden" asp-for="@warehouseId">
                            <label>
                                @warehouse.Name
                            </label>
                            <input name="productId" value="@warehouse.ProductId" hidden>
                        </td>
                        <td>
                            <label>@warehouse.Quantity</label>
                        </td>
                        <td>
                            <input name="quantity" type="number" class="form-control" min="-@warehouse.Quantity" max="1000" step="1">
                        </td>
                        <td class="table-action">
                            <button type="submit" style="border: 0; background-color: #ffffff; color: #3b7ddd">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle">
                                    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                </svg>
                            </button>
                        </td>
                        <td>
                            <a asp-area="Admin" asp-controller="WarehouseProduct" asp-action="DeleteProductFromStock" asp-route-warehouseId="@warehouseId" asp-route-stockId="@warehouse.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle">
                                    <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                </svg>
                            </a>
                        </td>
                    </form>
                </tr>
            }
            @if (QuantityProduct != 0)
            {
                <tr>
                    <td colspan="1"></td>
                    <td colspan="1">Общее количество товаров на складе: @QuantityProduct</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>