@model IEnumerable<KS.ViewModels.Brand.BrandIndexViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@if (TempData["SM"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-icon">
            <i class="far fa-fw fa-bell"></i>
        </div>
        <div class="alert-message">
            @TempData["SM"]
        </div>
    </div>
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Бренды товаров</h5>
        <h6 class="card-subtitle text-muted">
            Все бренды
        </h6>
        <a class="btn btn-primary float-end mt-n1" asp-controller="Brand" asp-action="Post"><i class="fas fa-plus"></i>Добавить</a>
    </div>
    @if (!Model.Any())
    {
        <h5>Данных нет</h5>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th style="width:75%;">Название</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var brand in Model)
            {
                <tr>
                    <td><a asp-controller="Brand" asp-action="Get" asp-route-id="@brand.Id">@brand.Name</a></td>
                    <td class="table-action">
                        <a asp-controller="Brand" asp-action="Put" asp-route-id="@brand.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle">
                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                            </svg>
                        </a>
                        <a asp-controller="Brand" asp-action="Delete" asp-route-id="@brand.Id"
                           onclick="javascript:return confirm('Вы действительно хотите удалить?')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle">
                                <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
