@model KS.ViewModels.Order.OrderHomeVm

@{
    ViewData["Title"] = "Главная страница";
    Layout = "_AdminLayout";

}
<div class="wrapper">
    <div class="main">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-xl-6 col-xxl-5 d-flex">
                    <div class="w-100">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-4">Проданных товаров</h5>
                                        <h1 class="mt-1 mb-3">@ViewBag.GoodsSold</h1>
                                        <div class="mb-1">
                                            @* <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span> *@
                                            <span class="text-muted">За все время</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-4">Заработано денег</h5>
                                        <h1 class="mt-1 mb-3">@ViewBag.MoneyEarned</h1>
                                        <div class="mb-1">
                                            @* <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span> *@
                                            <span class="text-muted">За все время</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-4">Пользователей</h5>
                                        <h1 class="mt-1 mb-3">@ViewBag.Users</h1>
                                        <div class="mb-1">
                                            @* <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span> *@
                                            <span class="text-muted">За все время</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-4">Заказы</h5>
                                        <h1 class="mt-1 mb-3">@ViewBag.Orders</h1>
                                        <div class="mb-1">
                                            @* <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.25% </span> *@
                                            <span class="text-muted">За все время</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-xxl-7">
                    <div class="card flex-fill w-100">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Последние добавленные избранные товары</h5>
                        </div>
                        <div class="card-body py-3">
                            <table class="table table-hover my-0">
                                <thead>
                                <tr>
                                    <th class="d-none d-xl-table-cell">#</th>
                                    <th>Пользователь</th>
                                    <th class="d-none d-xl-table-cell">Товар</th>
                                    <th class="d-none d-xl-table-cell">Цена</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var wishItem in Model.WishListVms)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/@wishItem.ImageUrl" width="32" height="32" class="rounded-circle my-n1" alt="Avatar">
                                        </td>
                                        <td>@wishItem.CustomerEmail</td>
                                        <td>
                                            <a asp-area="Admin" asp-controller="Product" asp-action="Get" asp-route-id="@wishItem.ProductId">@wishItem.ProductName</a>
                                        </td>
                                        <td>₽ @wishItem.Price.ToString("0")</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
                    <div class="card flex-fill w-100">
                        @* calendar *@
                        <div class="card-header">
                            <h5 class="card-title mb-0">Календарь</h5>
                        </div>
                        <div class="card-body d-flex">
                            <div class="align-self-center w-100">
                                <div class="chart">
                                    <div id="datetimepicker-dashboard"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8 col-xxl-9 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Последние заказы</h5>
                        </div>
                        <table class="table table-hover my-0">
                            <thead>
                            <tr>
                                <th class="d-none d-xl-table-cell">Номер заказа</th>
                                <th>Пользователь</th>
                                <th class="d-none d-xl-table-cell">Дата</th>
                                <th class="d-none d-xl-table-cell">Цена</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var order in Model.LastOrdersVms)
                            {
                                @await Html.PartialAsync("_LastOrdersPartial", order)
                            }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,
				prevArrow: "<span title=\"Previous month\">&laquo;</span>",
				nextArrow: "<span title=\"Next month\">&raquo;</span>",
			});
		});
	</script>