@model System.Collections.Generic.IList<KS.ViewModels.WishList.WishListVm>

@{
    ViewBag.Title = "Список желаний";
    Layout = "_Layout";
}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/css/cart.css">
    <link rel="stylesheet" type="text/css" href="~/css/cart_responsive.css">
</head>

@if (TempData["SM"] != null)
{
    <div id="my-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["SM"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}

<div class="super_container">

    <div class="super_container_inner">
        <div class="super_overlay"></div>

        <!-- Home -->

        <div class="home">
            <div class="home_container d-flex flex-column align-items-center justify-content-end">
                <div class="home_content text-center">
                    <div class="home_title">Список желаний</div>
                    <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                        <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                            <li>
                                <a asp-controller="Home" asp-action="Index">Главная</a>
                            </li>
                            <li>Мои желания</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cart -->

        <div class="cart_section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="cart_container">

                            <!-- Cart Bar -->
                            <div class="cart_bar">
                                <ul class="cart_bar_list item_list d-flex flex-row align-items-center justify-content-end">
                                    <li class="mr-auto">Товар</li>
                                    <li>Цена</li>
                                    <li></li>
                                </ul>
                            </div>

                            <!-- Cart Items -->
                            <div class="cart_items">
                                <ul class="cart_items_list">
                                    @if (Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            <!-- Cart Item -->
                                            <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                                                <div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                                    @*
                                                    <div>
                                                        <div class="product_number"></div>
                                                    </div>
                                                    *@
                                                    <div>
                                                        <div class="product_image">
                                                            <img src="~/images/cart_item_1.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="product_name_container">
                                                        <div class="product_name">
                                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">@item.ProductName</a>
                                                        </div>
                                                        @* <div class="product_text">Second line for additional info</div> *@
                                                    </div>
                                                </div>
                                                <div class="product_price product_text">
                                                    <span> </span>₽ @item.Price.ToString("0")
                                                </div>
                                                <div class="product_name">
                                                    <a asp-controller="WishList" asp-action="RemoveFromWishList" asp-route-id="@item.Id">Удалить</a>
                                                </div>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <div class="text-center">Список желаний пуст</div>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="~/lib/bootstrap-4.1.2/bootstrap.min.js"></script>

    <script>
        $(function(){
            window.setTimeout(function(){
                $('#my-alert').alert('close');
            },5000);
        });
    </script>
    
    <script type="text/javascript">
    
    $(document).ready(function () {
     
    window.setTimeout(function() {
        $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
            $(this).remove(); 
        });
    }, 5000);
     
    });
    </script>
}
