@model IList<KS.ViewModels.Warehouse.MangeWarehouseProductItemViewModel>

@{
    int warehouseId = ViewBag.warehouseId;
    ViewBag.Title = $"Склад {warehouseId.ToString()}";
    Layout = "_Layout";
}

@if (TempData["SM"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-icon">
            <i class="far fa-fw fa-bell"></i>
        </div>
        <div class="alert-message">
            @TempData["SM"]
            <div class="ajaxdivtd">
            </div>
        </div>
    </div>
}


<div class="card">
    <div class="card-header">
        <h5 class="card-title">Склада</h5>
        <h6 class="card-subtitle text-muted">
            Управление количеством товаров на складе
        </h6>
    </div>
    @if (!Model.Any())
    {
        <h5>Данных нет</h5>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th style="width:75%;">Название</th>
                <th>Текущие количество</th>
                <th>(+/-) Скорректированное количество</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var warehouse in Model)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="@warehouseId" id="ajaxWarehouseId">
                        <label id="ajaxProductId">
                            @warehouse.Name
                        </label>
                    </td>
                    <td>
                        <label>@warehouse.Quantity</label>
                        <input type="text" class="form-control" id="ajaxQuantity">
                    </td>
                    <td class="table-action">
                        <a asp-controller="Warehouse" asp-action="Put" asp-route-id="@warehouse.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle">
                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>


<script>

/* changes qual product */

            var originalTextBoxValue;
            var ajaxProductId = $("#ajaxProductId");
            var ajaxQuantityInput = $("#ajaxQuantity");
            var ajaxWarehouseIdInput = $("#ajaxWarehouseId");

            $("table#pages input.text-box").dblclick(function () {
                originalTextBoxValue = $(this).val();
                $(this).attr("readonly", false);
            });

            $("table#pages input.text-box").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).blur();
                }
            });

            $("table#pages input.text-box").blur(function () {
                var $this = $(this);
                // var ajaxdiv = $this.parent().parent().parent().find(".ajaxdivtd");
                // var changeQuantity = $this.val();
                // var warehouseId = $this.product parent().parent().parent().parent().parent().attr("warehouseId").substring(3);
                
                var productId = $this.parent().parent().parent().parent().parent().attr("productId").substring(3);
                var url = "/Warehouse/StocksPut";

                if (changeQuantity <= 0) {
                    alert("");
                    $this.attr("readonly", true);
                    return false;
                }

                $.post(url, { changeQuantity: ajaxQuantityInput, warehouseId: ajaxWarehouseIdInput, productId: ajaxProductId}, function (data) {
                    ajaxdiv.html("<div class='alert alert-success'>Количество изменено</div>").show();

                    setTimeout(function () {
                        ajaxdiv.fadeOut("fast", function () {
                            ajaxdiv.html("");
                        });
                    }, 3000);
                }).done(function () {
                    $this.attr("readonly", true);
                });
            });

            /*-----------------------------------------------------------*/

</script>