@model System.Collections.Generic.List<KS.ViewModels.Order.OrderDetailsItemVm>


@{
    ViewBag.Title = "Все товары";
    Layout = "_AdminLayout";

    decimal SumProduct = 0.0m;
    int QuantityProduct = 0;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tab-1" data-bs-toggle="tab" role="tab" aria-selected="true">Проданные товары</a>
                    </li>
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link" href="#tab-2" data-bs-toggle="tab" role="tab" aria-selected="false">График</a> *@
                    @* </li> *@
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-1" role="tabpanel">
                        <div class="row pt-4">
                            <div class="col-md-12">


                                <form asp-area="Admin" asp-controller="Chart" asp-action="OrdersItems" method="post">
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label">Начало переода</label>
                                            <input name="firstTime" type="date" id="start" class="form-control flatpickr-minimum flatpickr-input" placeholder="Начало переода"
                                                   value="@ViewBag.firstTime"
                                                   min="2021-01-01" max="2045-12-31">
                                        </div>
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label">Конец переода</label>
                                            <input name="lastTime" type="date" id="start" class="form-control flatpickr-minimum flatpickr-input" placeholder="Конец переода"
                                                   value="@ViewBag.lastTime"
                                                   min="2021-01-01" max="2045-12-31">
                                        </div>
                                        <div class="mb-3 col-md-2">
                                            <label class="form-label">ᅠ ᅠᅠ ᅠᅠ ᅠ</label>
                                            <button class="btn btn-primary" type="submit">Применить</button>
                                        </div>
                                    </div>
                                </form>

                                <hr>

                                <!-- Output -->
                                @if (Model.Any())
                                {
                                    <div class="card-body">
                                        <table class="table table-striped" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Товар</th>
                                                <th>Количество</th>
                                                <th>Цена</th>
                                                <th>Сумма</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var item in Model)
                                            {
                                                QuantityProduct += item.Quantity;
	                                            SumProduct += item.TotalPrice;
                                                <tr>
                                                    <td>
                                                        <img src="~/@item.CoverImageUrl" width="32" height="32" class="rounded-circle my-n1" alt="Product">
                                                    </td>
                                                    <td>@item.ProductName</td>
                                                    <td>@item.Quantity</td>
                                                    <td>₽ @item.Price.ToString("0")</td>
                                                    <td>₽ @item.TotalPrice.ToString("0")</td>
                                                </tr>
                                            }
                                            @if (QuantityProduct != 0 && SumProduct != 0)
                                            {
                                                <tr>
                                                    <td colspan="1"></td>
                                                    <td colspan="1">Общее количество товаров: @QuantityProduct</td>
                                                    <td colspan="3">Общая сумма товаров: ₽ @SumProduct.ToString()</td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <div class="text-center">Товаров нет.</div>
                                }
                            </div>
                        </div>
                    </div>

                    @* <div class="tab-pane" id="tab-2" role="tabpanel"> *@
                    @*     <div class="pt-5"> *@
                    @*         <div class="card flex-fill w-100"> *@
                    @*             <div class="card-header"> *@
                    @*                 <h5 class="card-title">Заказы</h5> *@
                    @*                 <h6 class="card-subtitle text-muted">Линейная диаграмма заказов</h6> *@
                    @*             </div> *@
                    @*             <div class="card-body"> *@
                    @*                 <div class="chart"> *@
                    @*                     <div class="chartjs-size-monitor"> *@
                    @*                         <div class="chartjs-size-monitor-expand"> *@
                    @*                             <div class=""></div> *@
                    @*                         </div> *@
                    @*                         <div class="chartjs-size-monitor-shrink"> *@
                    @*                             <div class=""></div> *@
                    @*                         </div> *@
                    @*                     </div> *@
                    @*                     <canvas id="chartjs-line" style="display: block; height: 300px; width: 528px;" width="660" height="375" class="chartjs-render-monitor"></canvas> *@
                    @*                 </div> *@
                    @*             </div> *@
                    @*         </div> *@
                    @*     </div> *@
                    @* </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	$.getJSON("/Chart/Order", function(data) {
	  document.addEventListener("DOMContentLoaded", function() {
	  		var Price = @Html.Raw(Json.Serialize(ViewBag.Price));
	  		var Qts = []
	  		for (var i =0; i < data.length; i++){
	  			Price.push(data[i]);
	  			Qts.push(data[i]);
	  			}
      			// Line chart
      			new Chart(document.getElementById("chartjs-line"), {
      				type: "line",
      				data: {
      					labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      					datasets: [{
      						label: "Продаж (₽)",
      						fill: true,
      						backgroundColor: "transparent",
      						borderColor: window.theme.primary,
      						data: Price
      					}]
      				},
      				options: {
      					maintainAspectRatio: false,
      					legend: {
      						display: false
      					},
      					tooltips: {
      						intersect: false
      					},
      					hover: {
      						intersect: true
      					},
      					plugins: {
      						filler: {
      							propagate: false
      						}
      					},
      					scales: {
      						xAxes: [{
      							reverse: true,
      							gridLines: {
      								color: "rgba(0,0,0,0.05)"
      							}
      						}],
      						yAxes: [{
      							ticks: {
      								stepSize: 500
      							},
      							display: true,
      							borderDash: [5, 5],
      							gridLines: {
      								color: "rgba(0,0,0,0)",
      								fontColor: "#fff"
      							}
      						}]
      					}
      				}
      			});
      		});
	});
		
	</script>