@model IEnumerable<KS.ViewModels.Category.GoodsInStockVm>

@{
    ViewBag.Title = "Kata Store";
}
<head><title>@ViewBag.Title</title></head>
<div class="super_container_inner">
    <div class="super_overlay"></div>

    <!-- Home -->

    <div class="home">
        <!-- Home Slider -->
        <div class="home_slider_container">
            <div class="owl-carousel owl-theme home_slider owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-item active" style="width: 100%;">
                        <div class="owl-item">
                            <div class="background_image" style="background-image:url(/Shop/images/home.jpg)"></div>
                            <div class="container fill_height">
                                <div class="row fill_height">
                                    <div class="col fill_height">
                                        <div class="home_container d-flex flex-column align-items-center justify-content-start">
                                            <div class="home_content">
                                                <div class="home_title">Новая коллекция</div>
                                                <div class="home_subtitle">Одежды</div>
                                                <div class="home_items">
                                                    <div class="row">
                                                        <div class="col-sm-3 offset-lg-1">
                                                            <div class="home_item_side">
                                                                <a>
                                                                    <img src="~/Shop/images/home_1.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
                                                            <div class="product home_item_large">
                                                                <div class="product_tag d-flex flex-column align-items-center justify-content-center">
                                                                    <div>
                                                                        <div>от</div>
                                                                        <div style="font-size: 24px">₽ 999</div>
                                                                    </div>
                                                                </div>
                                                                <div class="product_image">
                                                                    <img src="~/Shop/images/home_2.jpg" alt="">
                                                                </div>
                                                                <div class="product_content">
                                                                    <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                                                        <div>
                                                                            <div>
                                                                                <div class="product_name">
                                                                                    <a>Новая коллекция</a>
                                                                                </div>
                                                                                <div class="product_category">В <a asp-controller="Catalog" asp-action="Index">категориях</a></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ml-auto text-right">
                                                                            <div class="rating_r rating_r_4 home_item_rating">
                                                                            </div>
                                                                            @* <div class="product_price text-right">₽999<span>.99</span></div> *@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="home_item_side">
                                                                <a>
                                                                    <img src="~/Shop/images/home_3.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Products -->
<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section_title text-center">Последние товары</div>
            </div>
        </div>
        <div class="row products_row">
            <!-- Product -->
            @if (Model.Any())
            {
                foreach (var product in Model)
                {
                    <div class="col-xl-4 col-md-6">

                        <div class="product">
                            <div class="product_image">
                                @if (product.CoverImageUrl != null)
                                {
                                    <img src="~/@product.CoverImageUrl" alt="" style="width: 350px; height: 466px">
                                }
                                else
                                {
                                    <img src="~/Shop/images/noimage.jpg" alt="" style="width: 350px; height: 466px">
                                }
                            </div>
                            <div class="product_content">
                                <div style="width: 100%; height: 100px" class="product_info d-flex flex-row align-items-start justify-content-start">
                                    <div>
                                        <div>
                                            <div class="product_name">
                                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a>
                                            </div>
                                            <div class="product_category">В <a asp-controller="Catalog" asp-action="Index">категориях</a></div>
                                        </div>
                                    </div>
                                    <div class="ml-auto text-right">
                                        <div class="rating_r rating_r_4 home_item_rating">
                                             ᅠ ᅠ
                                        </div>
                                        <div class="product_price text-right">
                                            ₽@product.Price.ToString("0")
                                            @* <span>.00</span> *@
                                        </div>
                                    </div>
                                </div>
                                <div class="product_buttons">
                                    <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                        <div onclick="return wishlist_onclick(@product.Id)" class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                            <div>
                                                <div>
                                                    <img src="~/Shop/images/heart_2.svg" class="svg" alt="">
                                                    <div>+</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div onclick="return cart_onclick(@product.Id, @product.StockId)" class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                            <div>
                                                <div>
                                                    <img src="~/Shop/images/cart.svg" class="svg" alt="">
                                                    <div>+</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                }
            }
            else
            {
                <div class="text-center">Товаров нет.</div>
            }
        </div>
        <div class="row load_more_row">
            <div class="col">
                <div class="button load_more ml-auto mr-auto">
                    <a asp-controller="Catalog" asp-action="Index">Больше</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Boxes -->

<div class="boxes">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="boxes_container d-flex flex-row align-items-start justify-content-between flex-wrap">

                    <!-- Box -->
                    <div class="box">
                        <div class="background_image" style="background-image:url(/Shop/images/box_1.jpg)"></div>
                        <div class="box_content d-flex flex-row align-items-center justify-content-start">
                            <div class="box_left">
                                <div class="box_image">
                                    <a asp-controller="Catalog" asp-action="Woman">
                                        <div class="background_image" style="background-image:url(/Shop/images/box_1_img.jpg)"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="box_right text-center">
                                <div class="box_title">Женские товары</div>
                            </div>
                        </div>
                    </div>

                    <!-- Box -->
                    <div class="box">
                        <div class="background_image" style="background-image:url(/Shop/images/box_2.jpg)"></div>
                        <div class="box_content d-flex flex-row align-items-center justify-content-start">
                            <div class="box_left">
                                <div class="box_image">
                                    <a asp-controller="Catalog" asp-action="Index">
                                        <div class="background_image" style="background-image:url(/Shop/images/box_2_img.jpg)"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="box_right text-center">
                                <div class="box_title">Популярное</div>
                            </div>
                        </div>
                    </div>

                    <!-- Box -->
                    <div class="box">
                        <div class="background_image" style="background-image:url(/Shop/images/box_3.jpg)"></div>
                        <div class="box_content d-flex flex-row align-items-center justify-content-start">
                            <div class="box_left">
                                <div class="box_image">
                                    <a asp-controller="Catalog" asp-action="Men">
                                        <div class="background_image" style="background-image:url(/Shop/images/box_3_img.jpg)"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="box_right text-center">
                                <div class="box_title">Мужские товары</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features -->

<div class="features">
    <div class="container">
        <div class="row">

            <!-- Feature -->
            <div class="col-lg-4 feature_col">
                <div class="feature d-flex flex-row align-items-start justify-content-start">
                    <div class="feature_left">
                        <div class="feature_icon">
                            <img src="~/Shop/images/icon_1.svg" alt="">
                        </div>
                    </div>
                    <div class="feature_right d-flex flex-column align-items-start justify-content-center">
                        <div class="feature_title">Быстрые безопасные платежи</div>
                    </div>
                </div>
            </div>

            <!-- Feature -->
            <div class="col-lg-4 feature_col">
                <div class="feature d-flex flex-row align-items-start justify-content-start">
                    <div class="feature_left">
                        <div class="feature_icon ml-auto mr-auto">
                            <img src="~/Shop/images/icon_2.svg" alt="">
                        </div>
                    </div>
                    <div class="feature_right d-flex flex-column align-items-start justify-content-center">
                        <div class="feature_title">Премиум товары</div>
                    </div>
                </div>
            </div>

            <!-- Feature -->
            <div class="col-lg-4 feature_col">
                <div class="feature d-flex flex-row align-items-start justify-content-start">
                    <div class="feature_left">
                        <div class="feature_icon">
                            <img src="~/Shop/images/icon_3.svg" alt="">
                        </div>
                    </div>
                    <div class="feature_right d-flex flex-column align-items-start justify-content-center">
                        <div class="feature_title">Бесплатная доставка</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/Shop/js/catalog/ProductsScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <script>
        function cart_onclick(productId, stockId) {
            window.location = "/Cart/AddToCart?productId=" + productId + "&stockId=" + stockId + "&quantity=" + 1;
            return alert("Товар добавлен в корзину");
        }
        
        function wishlist_onclick(productId) {
            window.location = "/WishList/AddToWishList?productId=" + productId;
            return alert("Товар добавлен в список желаний");
        }
    </script>
}