@model KS.ViewModels.Category.GoodsInStockVm
@{
    var photoPath = "~/" + Model.CoverImageUrl;
}
    <div class="product">
        <div class="product_image">
            <img src="@photoPath" alt="">
        </div>
        <div class="product_content">
            <div class="product_info d-flex flex-row align-items-start justify-content-start">
                <div>
                    <div>
                        <div class="product_name">
                            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
                        </div>
                        <div class="product_category">В <a asp-controller="Catalog" asp-action="Index">категориях</a></div>
                    </div>
                </div>
                <div class="ml-auto text-right">
                    <div class="rating_r rating_r_4 home_item_rating">
                        <i></i><i></i><i></i><i></i><i></i>
                    </div>
                    <div class="product_price text-right">
                        ₽ @Model.Price.ToString("0")<span>.00</span>
                    </div>
                </div>
            </div>
            <div class="product_buttons">
                <div class="text-right d-flex flex-row align-items-start justify-content-start">
                    <div onclick="return wishlist_onclick(@Model.Id)" class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <div>
                                <img src="~/Shop/images/heart_2.svg" class="svg" alt="">
                                <div>+</div>
                            </div>
                        </div>
                    </div>
                    <div onclick="return cart_onclick(@Model.Id)" class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <div>
                                <img src="~/Shop/images/cart.svg" class="svg" alt="">
                                <div>+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts
{
    <script src="~/Shop/js/catalog/ProductsScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <script>
        function cart_onclick(productId) {
            window.location = "/Cart/AddToCart?productId=" + productId + "&quantity=" + 1;
            return alert("Товар добавлен в корзину");
        }
        
        function wishlist_onclick(productId) {
            window.location = "/WishList/AddToWishList?productId=" + productId;
            return alert("Товар добавлен в список желаний");
        }
    </script>
}