@model KS.ViewModels.Category.GoodsInStockVm

@{
    ViewBag.Title = $" {Model.Name}";
    Layout = "_Layout";
}
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Shop/lib/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Shop/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Shop/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/product.css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/product_responsive.css">
</head>
<div class="super_container">
    <div class="super_container_inner">
        <div class="super_overlay"></div>

        <!-- Home -->
        <div class="home">
            <div class="home_container d-flex flex-column align-items-center justify-content-end">
                <div class="home_content text-center">
                    <div class="home_title">Страница товара</div>
                    <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                        <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                            <li>
                                <a asp-controller="Catalog" asp-action="Index">Главная</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product -->

        <div class="product">
            <div class="container">
                <div class="row">

                    <!-- Product Image -->
                    <div class="col-lg-6">
                        <div class="product_image_slider_container">
                            <img src="~/@Model.CoverImageUrl" alt=""/>
                        </div>
                    </div>

                    <!-- Product Info -->
                    <div class="col-lg-6 product_col">
                        <div class="product_info">
                            <div class="product_name">@Model.Name</div>
                            <div class="product_category">В <a asp-controller="Catalog" asp-action="Index">категориях</a></div>
                            <div class="product_price">
                                ₽ @Model.Price.ToString("0")<span>.00</span>
                                <p style="font-size: 22px;">
                                    <del> ₽ @Model.OldPrice.ToString()</del>
                                </p>
                            </div>
                            <div class="product_text text-dark">
                                @Html.Raw(Model.Description)
                                <hr>
                                @Html.Raw(Model.Specification)
                                <hr>
                                <p>Количество товаров на складе: @Model.QuantityStock.ToString()</p>
                            </div>
                            <div class="product_buttons">
                                @if (_signInManager.IsSignedIn(User))
                                {
                                    <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                        <div id="AddToWishList" class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                            <div>
                                                <div>
                                                    <img src="~/Shop/images/heart_2.svg" class="svg" alt="">
                                                    <div>+</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="AddToCart" class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                            <div>
                                                <div>
                                                    <img src="~/Shop/images/cart.svg" class="svg" alt="">
                                                    <div>+</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                        <div onclick="alert('Вы не авторизованы')" class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                            <div>
                                                <div>
                                                    <img src="~/Shop/images/heart_2.svg" class="svg" alt="">
                                                    <div>+</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div onclick="alert('Вы не авторизованы')" class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                            <div>
                                                <div>
                                                    <img src="~/Shop/images/cart.svg" class="svg" alt="">
                                                    <div>+</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Boxes -->

        <div class="boxes">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box d-flex flex-row align-items-center justify-content-start">
                            <div class="mt-auto">
                                <div class="box_image">
                                    <img src="~/Shop/images/boxes_1.png" alt="">
                                </div>
                            </div>
                            <div class="box_content">
                                <div class="box_title">Таблица размеров</div>
                                <div class="box_text">Наши таблицы размеров помогут вам заказать правильный размер.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 box_col">
                        <div class="box d-flex flex-row align-items-center justify-content-start">
                            <div class="mt-auto">
                                <div class="box_image">
                                    <img src="~/Shop/images/boxes_2.png" alt="">
                                </div>
                            </div>
                            <div class="box_content">
                                <div class="box_title">Доставка</div>
                                <div class="box_text">Быстрая доставка до почтового отделения.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/Shop/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Shop/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Shop/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Shop/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Shop/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Shop/plugins/easing/easing.js"></script>
    <script src="~/Shop/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Shop/js/cart.js"></script>

    <script>
        /********************Add to cart *********************/
        // TODO: Сделать нормально по-людки по запросу
        $( "#AddToCart" ).click(function() {
            
            window.location = "/Cart/AddToCart?productId=" + @Model.Id + "&stockId=" + @Model.StockId + "&quantity=" + 1;
            return alert("Товар добавлен в корзину");
        });
        /****************************************************/
        
        /********************Add to wish list *********************/
        // TODO: Сделать нормально по-людки по запросу
        $( "#AddToWishList" ).click(function() {
            
            window.location = "/WishList/AddToWishList?productId=" + @Model.Id;
            return alert("Товар добавлен в список желаний");
        });
        /****************************************************/
    </script>
}