@model System.Collections.Generic.IEnumerable<KS.ViewModels.Order.OrderDetailsItemVm>

@{
    ViewBag.Title = "Детали заказа";
    Layout = "_Layout";
    
	decimal SumProduct = 0.0m;
	int QuantityProduct = 0;
}

<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Shop/lib/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Shop/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/cart.css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/cart_responsive.css">
</head>

@if (TempData["SM"] != null)
{
    <div id="my-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["SM"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}

<div class="super_container">

    <div class="super_container_inner">
        <div class="super_overlay"></div>

        <!-- Home -->

        <div class="home">
            <div class="home_container d-flex flex-column align-items-center justify-content-end">
                <div class="home_content text-center">
                    <div class="home_title">Детали заказа</div>
                    <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                        <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                            <li>
                                <a asp-controller="Home" asp-action="Index">Главная</a>
                            </li>
                            <li>Ваша корзина</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cart -->
        <div class="cart_section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="cart_container">

                            <!-- Cart Bar -->
                            <div class="cart_bar">
                                <ul class="cart_bar_list item_list d-flex flex-row align-items-center justify-content-end">
                                    <li class="mr-auto">Товар</li>
                                    <li>Цена</li>
                                    <li>Количество</li>
                                    <li> Общая цена</li>
                                </ul>
                            </div>

                            <!-- Cart Items -->
                            <div class="cart_items">
                                <ul class="cart_items_list">
                                    @if (Model.Any())
                                    {
                                        foreach (var product in Model)
                                        {
                                            QuantityProduct += product.Quantity;
                                            SumProduct += product.TotalPrice;
                                                               <!-- Cart Item -->
                                            <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                                                <div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                                    @*
                                                    <div>
                                                        <div class="product_number"></div>
                                                    </div>
                                                    *@
                                                    <div>
                                                        <div class="product_image">
                                                            <img src="~/@product.CoverImageUrl" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="product_name_container">
                                                        <div class="product_name">
                                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId">@product.ProductName</a>
                                                        </div>
                                                        @* <div class="product_text">Second line for additional info</div> *@
                                                    </div>
                                                </div>
                                                <div class="product_price product_text">
                                                    <span> </span>₽ @product.Price.ToString("0")
                                                </div>
                                                <div class="product_quantity_container">
                                                    <div class="product_quantity ml-lg-auto mr-lg-auto text-center">
                                                        <span class="product_text product_num">@product.Quantity</span>
                                                    </div>
                                                </div>
                                                <div class="product_price product_text">
                                                    <span> </span>₽ @product.TotalPrice.ToString("0")
                                                </div>
                                            </li>
                                        }
                                        @if (QuantityProduct != 0 && SumProduct != 0)
                                        {
                                            <li style="font-size: 24px; color: black">
                                                <div colspan="1"></div>
                                                <div colspan="1">Общее количество товаров: @QuantityProduct</div>
                                                <div colspan="3">Общая сумма товаров: ₽ @SumProduct.ToString()</div>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <div class="text-center">Список заказов пуст</div>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>